:root{
	--Pale-blue: hsl(225, 100%, 94%);
	--Bright-blue: hsl(245, 75%, 52%);
	--Very-pale-blue: hsl(225, 100%, 98%);
	--Desaturated-blue: hsl(224, 23%, 55%);
	--Dark-blue: hsl(223, 47%, 23%);
}


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.wrapper{
	width: 100%;
	height: 100vh;
	background-color: var(--Pale-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(./images/pattern-background-desktop.svg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: contain;

}

.box{
	width: 25%;
	height: 70%;
	background-color: white;
	border-radius: 20px;
	box-shadow: 1px 1px 10px black;
}

.top{
	height: 35%;
	width: 100%;
	background-image: url(./images/illustration-hero.svg);
	background-size: cover;
	border-radius: 20px 20px 0px 0px;
}

.bottom{
	height: 65%;
	width: 100%;
	text-align: center;
	background-color: white;
	border-radius: 0px 0px 20px 20px;
	padding: 40px;
}

.bottom h3{
	margin-bottom: 20px;
	color: var(--Dark-blue);
}

.bottom p{
	color: var(--Desaturated-blue);
}

.annual{
	height: 25%;
	width: 100%;
	background-color: var(--Very-pale-blue);
	padding: 0px 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.price{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.plan{
	margin-left: 20px;
}

.plan h4{
	color: var(--Dark-blue);
}

.plan p{
	color: var(--Desaturated-blue);
}

.annual h5{
	color: var(--Bright-blue);
	text-decoration: underline;
}

.payment{
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 15px;
	background-color: var(--Bright-blue);
	margin-top: 30px;
}

.payment:hover{
	background-color: var(--Desaturated-blue);
}

.cancel{
	margin-top: 20px;
	font-weight: 700;
}

@media screen and (max-width: 500px) {
	.wrapper{
		height: 100vh;
		width: 100%;
		background-image: url(./images/pattern-background-mobile.svg);
	}
	.box{
		width: 80%;
		height: 70%;
	}
	.top{
		background-position: center;
	}

}

